* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
}

body {
    background-color: #070707;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #F0F8FF;
}

h1 {
    padding: 1rem 0;
}

canvas {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
    width: 512;
    height: 512;
    touch-action: none;
}

.instructions{
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

#score {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

#pop-up {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    transition: transform 1s ease;
    display: grid;
    place-items: center;
}

/* Use this if your element has class 'pop-up',
   or switch to the ID selector if not */
.pop-up p {
    padding-bottom: 1rem;
    font-size: 3rem;
}

.pop-up button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: hsl(208, 100%, 97%);
    cursor: pointer;
    margin: 0 1rem;
}

.pop-up button:hover {
    background-color: #121212;
    color: #F0F8FF;
}


/* Mobile screens */
@media  screen and (min-width: 780px) {
    .instructions{
        display: none;
    }

    canvas{
        height: 90vw;
        width: 90vw;
    }
}
